
.threedot-setting{
    transition: 0.5s;
}
.threedot-setting:hover{ 
    color: rgb(243, 210, 63);
}
.message-date{
    
}
.message-chat-box{
    overflow-y: auto;
    height: calc(100vh - 30vh);
}
.message-chat-box::-webkit-scrollbar{
    display: none;
}